<div class="container">
  <div class="content">
    <mat-form-field class="example-full-width">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Nome" name="name" [(ngModel)]="user.name" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" [(ngModel)]="user.email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" type="password" name="password" [(ngModel)]="user.password" required>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="registerUser()">Registrar</button>
    <button mat-raised-button color="primary" (click)="goToLogin()">Logar</button>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
</div>
