<div class="container">
  <div class="content">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" name="email" [(ngModel)]="email" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Senha" type="password" name="password" [(ngModel)]="password" required>
    </mat-form-field>

    <button mat-raised-button type="submit" (click)="loginUser()">Logar</button>
  </div>
</div>
